<!DOCTYPE html>
  <html>
    <head>
    </head>

    <body>
      <div class="show_tip" align="center">
        <h1><%= @tip.name %></h1>
        <hr width="75%">
        <h3>Main Ingredient: <%= @tip.main_ingredient %></h3>
        <h3>Kitch-Tip: </h3>
        <h3><%= @tip.tip %></h3>
        <hr width="75%">
      </div>

      <div class="view_index" align="center">
        <h3><a href="/a_z_index">Go back to the Kitch-Tips Index</a></h3>
        <hr width="75%">
      </div>
    </body>
  </html>
