<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        <div class="header_background">
          <div class="header_text">
            <div id="header">
          <h1>Kitch-Tips</h1>
            </div>
            <div id="header_info">
          <h2>A place to share and find useful kitchen tips for those ingredients
            you don't always know what to do with</h2>
          </div>
        </div>
      </div>
    </head>

    <body>

      <div class="account" align="center">
        <h3>To create, edit, or save your favorite tips:
          <br />
          <!-- add in favorite functionality -->
        <a href="/signup">Sign Up</a>
        or
        <a href="/login">Log In</a></h3>
        <hr width="75%">
      </div>

      <div class="recent_tips">
        <br>
        <h2 align="center">Most Recent Tips</h2>
        <%  @recent_tips.each.with_index do |tip, i| %>
          <h3><%= i + 1 %>. <%= tip.name %>: <%= tip.tip %></h3>
        <% end %>
        <br>
        <hr width="75%">
      </div>


      <div class="view_index" align="center">
        <h3><a href="/a_z_index">View all tips at the Kitch-Tips Index</a></h3>
        <hr width="75%">
      </div>
    </body>
  </html>
